@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');


.paint-active {
    cursor: crosshair;
}

.simulationCon {
    width: 80%;
    height: 85vh;
    margin: auto;
    margin-top: 3.55%;
    background-color: lightblue;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    padding: 2px; 
    border-radius: 5px;
    overflow: hidden; 
}

.mainCon {
    width: 100%; 
    height: 100%;
}

.instructionCon {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 402;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.instructionCon.closed {
    transform: translateX(-110%);
}

.instructionCon.open {
    transform: translateX(0);
}

.instructionCon {
    transition: transform 0.3s ease-in-out;
}
.instructionCon.collapsed {
    transform: translateX(-500px);
}

.instructionCon h1{
    font-size: 1.2rem;
    color: black;
    width: 58%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: "Roboto Slab", serif;
}

hr{
    width: 95%;
    height: 1px;
    background-color: darkblue;
}

.himalayas_drawCon{
    margin-top: 20px;
    padding: 0 7px;
}

.himalayas_drawCon h2{
    font-size: 0.9rem;
    font-weight: 500;
}

.himalayas_drawCon p{
    text-align: justify;
    font-size: 0.8rem;
    margin-top: 3px;
}

.activityHeader{
    font-weight: bold;
    font-size: 0.85rem;
}

.paintsCon h2{
    margin-bottom: 7px;
}

.paints{
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
    width: 33%;
    padding: 5px 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.paints:hover{
    background-color: whitesmoke;
}

.greenColor{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: green;
}

.brownColor{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: brown;
}

.paints span{
    font-size: 0.9rem;
    margin-left: 5px;
}

.subTit{
    padding-top: 10px;
}

.himalayasDragAndDropCon{
    margin-top: 20px;
    padding: 0 7px;
}

.himalayasDragAndDropCon h2{
    font-size: 0.9rem;
    font-weight: 500;
}

.himalayasDragAndDropCon ul{
    padding-left: 0;
}

.himalayasDragAndDropCon li{
    width: fit-content;
    cursor: grab;
    user-select: none;
    margin-bottom: 15px;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    list-style: none;
    font-size: 0.9rem;
}

.mount{
    margin-right: 5px;
    color: darkcyan;
}

.instructions{
    font-size: 0.8rem;
}

.insHeader{
    display: flex;
    align-items: center;
    align-content: center;
}

.leftArrow{
    position: relative;
    top: 3px;
    left: 40px;
    font-size: 1.5rem;
    cursor: pointer;
}

.rightArrow{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.switchButtons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.switchButtons button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
    transition: 0.3s;
}

.switchButtons button:hover {
    background: #bbb;
}

.switchButtons .active {
    background: #007bff;
    color: white;
}
