@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html, body { 
    height: 100%; 
    margin: 0; 
    font-family: "Roboto Slab", serif;
    overflow: hidden;
}

#map { 
    height: 100%; 
    width: 100%; 
    position: relative; 
    touch-action: none;
 }

#overlayCanvas { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 401; 
}

#drawCanvas { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.opacitySlider input{
  width: 60%;
  height: 0.7vh;
  appearance: none;
  background: lightblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: grab;
}

.opacitySlider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease; 
}

.opacitySlider p{
  position: relative;
  right: 30px;
}

.DADRangesCanvas{
  position: fixed;
  top: 15%;
  right: 10px;
  width: 15%;
  height: 60vh;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-radius: 10px;
}

#DADCanvas{
  width: 150%;
  height: 80vh;
  overflow-y: auto;
  border: 1px solid #ccc;
}